<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
   <a   class="navbar-brand" routerLink="/">My App</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
 
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
      
       <li class="nav-item dropdown">
         <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Dropdown
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#">Action</a>
           <a class="dropdown-item" href="#">Another action</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Something else here</a>
         </div>
       </li>
      
     </ul>
     
     <div> 
       <div *ngIf="!isloggedin">
       <button routerLink="/login" class="btn btn-warning">Login</button>
       <button routerLink="/signup" class="btn btn-warning">Signup</button>
       </div>

       <div *ngIf="isloggedin">
         <button routerLink="/cart">Cart</button>
          <button (click)="logout()" class="btn btn-warning">Logout</button>  
       </div>

       <!-- <button *ngIf="!isloggedin" data-target="#usermodal" data-toggle="modal" class="btn btn-warning">Login & Signup</button>  -->
       
      </div>
   </div>
 </nav>
